<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kukoma Taxi</title>
    <link rel="icon" type="image/png" sizes="151x150" href="assets/img/icon.png">
    <link rel="icon" type="image/png" sizes="151x150" href="assets/img/icon.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="151x150" href="assets/img/icon.png">
    <link rel="icon" type="image/png" sizes="478x674" href="assets/img/about.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="478x674" href="assets/img/about.png">
    <link rel="icon" type="image/png" sizes="478x674" href="assets/img/about.png">
    <link rel="icon" type="image/png" sizes="1284x2778" href="assets/img/splash.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="fw-bold" style="border-bottom-width: 4px;border-bottom-color: var(--color-main);">
        <div class="row">
            <div class="col-10 col-lg-4">
                <div class="logo-div"><a class="d-flex align-items-center" href="index.html"><img class="me-2" src="assets/img/icon.png">
                        <h2><span class="k">Kukoma&nbsp;</span><span class="t">Taxi</span></h2>
                    </a></div>
            </div>
            <div class="nav-list d-none d-lg-flex col-8 align-items-center justify-content-end">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="index.html">Home</a></li>
                    <li class="list-inline-item"><a href="about.html">About</a></li>
                    <li class="list-inline-item"><a href="cars.html">Cars</a></li>
                    <li class="list-inline-item"><a href="booking.html">Book a Taxi</a></li>
                    <li class="list-inline-item"><a class="btn btn-main rounded-pill" role="button" href="login.html">Login</a></li>
                    <li class="list-inline-item"><a class="btn btn-second rounded-pill" role="button" href="signup.html">SIgnup</a></li>
                </ul>
            </div>
            <div class="col-2 d-block d-lg-none">
                <div class="dropdown show"><button class="btn" aria-expanded="true" data-bs-toggle="dropdown" type="button"><i class="fas fa-list-ul"></i></button>
                    <div class="dropdown-menu show" data-bs-popper="none"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                </div>
            </div>
        </div>
    </nav>
    <div id="page-hero" class="page-hero text-center text-white d-flex align-items-center justify-content-center">
        <div><span class="text-capitalize"><a href="index.html">Home</a><span class="ms-1 color-main">// About</span></span>
            <h1 class="text-uppercase fw-bold">About</h1>
        </div>
    </div>
    <div class="section"></div>
    <footer class="text-white">
        <div class="div py-4 row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center mb-4">
            <div>
                <h4 class="color-main text-uppercase mb-4">about us</h4>
                <p>Nullam orci dui, dictum et magna sollicitudin, tempor blandit erat. Maecenas suscipit tellus sit amet augue placerat fringilla a id lacus. Fusce tincidunt in leo lacinia condimentum.</p>
            </div>
            <div>
                <h4 class="color-main text-uppercase mb-4">explore</h4>
                <div class="row row-cols-2 link-list">
                    <div class="pe-3 mb-2">
                        <div class="link pb-1"><i class="fas fa-chevron-right color-main me-2"></i><a href="#">Link</a></div>
                    </div>
                    <div class="pe-3 mb-2">
                        <div class="link pb-1"><i class="fas fa-chevron-right color-main me-2"></i><a href="#">Link</a></div>
                    </div>
                    <div class="pe-3 mb-2">
                        <div class="link pb-1"><i class="fas fa-chevron-right color-main me-2"></i><a href="#">Link</a></div>
                    </div>
                    <div class="pe-3 mb-2">
                        <div class="link pb-1"><i class="fas fa-chevron-right color-main me-2"></i><a href="#">Link</a></div>
                    </div>
                    <div class="pe-3 mb-2">
                        <div class="link pb-1"><i class="fas fa-chevron-right color-main me-2"></i><a href="#">Link</a></div>
                    </div>
                    <div class="pe-3 mb-2">
                        <div class="link pb-1"><i class="fas fa-chevron-right color-main me-2"></i><a href="#">Link</a></div>
                    </div>
                </div>
            </div>
            <div>
                <h4 class="color-main text-uppercase mb-4">contact us</h4>
                <p class="text-capitalize"><span class="fw-bold me-2">Address:</span><span>nacit, blantyre</span></p>
            </div>
        </div>
        <div class="div copyright py-4">
            <p><a href="#"><span class="color-main">Takwana Phambala @2024</span></a><span class="mx-2">© All Rights Reserved</span><a href="#"><span class="color-main">Text</span></a></p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>